// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-image: image-url("back.jpg");
  background-size: cover;
  background-position: center;
 }

 .category {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.age {
  display: inline-block;
  padding: 5px 8px;
  background-color: #005739;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

 .ranking {
  display: inline-block;
  padding: 5px 8px;
  margin:1px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

 .ranking2 {
  display: inline-block;
  padding: 5px 8px;
  margin:1px;
  background-color: #005739;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.navi-menu-text {
  font-size: 11px;
}
